.Modal {
	position: fixed;
	z-index: 300;
}
.ModalParent {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ModalBG {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 250;
}
