.parent {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

/*.Options {
	height: 100%;
	position: fixed;
	z-index: 110;
	background-color: rgb(51, 54, 66);
}*/
.LargeOptions {
	height: inherit;
	background-color: rgb(51, 54, 66);
}
.Button {
	margin: 20px 20px;
	float: left;
	position: fixed;
	z-index: 90;
}
.Content {
	height: inherit;
}
.MembersDrawerParent {
	width: 70%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background-color: rgb(51, 54, 66);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.MembersDrawerParent {
		width: 75%;
	}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.MembersDrawerParent {
		width: 60%;
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.MembersDrawerParent {
		width: 50%;
	}
}

/* Media Query for Laptops and Desktops */
