.Button {
	margin: 5% 5%;
	bottom: 0;
	right: 0;
	float: right;
	position: fixed;
	z-index: 100;
}

.PrivParent {
	margin-top: 5%;
}
.Xmark {
	position: relative;
	border: none;
	font-size: 1.3rem;
	width: 25px;
	height: auto;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	background-color: #d73f3f;
	cursor: pointer;
	transition: width 0.1s ease-out;
}

.Xmark:hover {
	width: 35px;
}
.Xmark:focus {
	background-color: #d73f3f;
	width: 35px;
}
.Button2 {
	padding: 15px;
	color: white;
	cursor: pointer;
	background-color: #26a69a;
	border-radius: 10px;
	margin-bottom: 0px;
	border: none;
	transform: translateY(0);
	transition: all 0.2s ease-out;
}
.Button2:hover {
	color: white;
	border-radius: 15px;
}

.active {
	animation-name: buttonAnimate;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.inactive {
	animation-name: buttonAnimaterev;
	animation-duration: 0.5s;
	animation-direction: forwards;
}

@keyframes buttonAnimate {
	from {
		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	to {
		padding-bottom: 30px;
		margin-bottom: -15px;
	}
}

@keyframes buttonAnimaterev {
	from {
		padding-bottom: 30px;
		margin-bottom: -15px;
	}
	to {
		padding-bottom: 15px;
		margin-bottom: -15px;
	}
}
.Item {
	color: #26a69a;
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.1s ease-out;
}

.Item:hover {
	color: #87a69a;
}

@media (max-width: 750px) {
	.PrivParent {
		margin-top: 20%;
	}
}
