.logOut {
  color: white;
  font-size: 1.2rem;
  transition: font-size 0.1s;
}
.navColor {
  background-color: #212f3c;
}

.logOut:hover {
  font-size: 1.3rem;
}
.drawerIcon {
  margin-left: 10px;
}

.listItem {
  margin-right: 20px;
  float: right;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.a:hover {
  cursor: pointer;
}
