.ContentHead {
	margin-top: 30px;
	height: 400px;
	box-sizing: border-box;
	overflow: scroll;
}

.Content {
	height: 300px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.material {
	font-size: 48px;
}
