.MemberTab {
	font-size: 1.2rem;
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.15s ease-in;
}

.MemberTab:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

@keyframes example {
	from {
	}
	to {
		background-color: #3ad781;
	}
}

.active {
	animation-name: example;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
}

.Link {
	color: rgb(195, 195, 195);
	cursor: pointer;
	transition: color 0.1s;
}

.Link:hover {
	color: white;
}
.LinkActive {
	color: white;
}
.Collection {
	display: flex;
}

.Google:hover {
	font-size: 1.5rem;
}
